function Animation.Animate 10
push static 2
call Random.dispose 1
pop temp 0
push static 1
call Random.new 1
pop static 2
push static 2
push constant 36
call Random.nextInt 2
pop local 9
push constant 1
push constant 1
call Output.moveCursor 2
pop temp 0
push local 9
call Output.printInt 1
pop temp 0
push constant 0
pop local 8
push constant 131
pop local 7
push constant 5
pop local 6
push argument 0
pop local 4
push constant 7
pop local 0
push constant 18
pop local 2
push argument 0
pop local 1
push argument 0
pop local 5
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 1
pop local 3
label WHILE_EXP1
push local 1
push local 3
push local 0
add
lt
not
if-goto WHILE_END1
push constant 131
push constant 130
push constant 355
push constant 130
call Screen.drawLine 4
pop temp 0
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
call Animation.CheckBlack 1
push constant 0
not
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 7
push constant 124
push local 7
push constant 31
add
push constant 129
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
call Animation.CheckBlack 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
call Screen.setColor 1
pop temp 0
push local 7
push constant 1
add
push constant 125
push local 7
push constant 30
add
push constant 128
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push constant 10
push local 2
call Output.moveCursor 2
pop temp 0
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
call Output.printInt 1
pop temp 0
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
push constant 10
call Math.divide 2
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE2
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
push local 9
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 8
push constant 1
add
pop local 8
label IF_FALSE3
push local 8
push constant 4
gt
push local 2
push constant 30
eq
and
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
push local 9
eq
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
call Roulette.endGame 1
pop temp 0
push local 9
call Roulette.Check 1
pop temp 0
push constant 0
return
label IF_FALSE4
push constant 131
push constant 130
push constant 355
push constant 130
call Screen.drawLine 4
pop temp 0
push static 2
call Random.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
pop local 5
push local 2
push constant 4
add
pop local 2
push local 7
push constant 32
add
pop local 7
goto WHILE_EXP1
label WHILE_END1
push local 6
call Sys.wait 1
pop temp 0
push constant 131
pop local 7
push local 6
push constant 5
add
pop local 6
push local 4
push constant 1
add
push constant 36
call Animation.Remainder 2
pop local 4
push local 4
pop local 5
push constant 18
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Animation.Remainder 0
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP0
push argument 0
push constant 0
lt
not
if-goto WHILE_END0
push argument 0
push argument 1
add
pop argument 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
return
label IF_FALSE0
push argument 0
push constant 0
lt
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
push argument 1
push argument 0
push argument 1
call Math.divide 2
call Math.multiply 2
sub
return
label IF_FALSE1
push constant 34
return
function Animation.CheckBlack 1
push constant 2
pop local 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push argument 0
push local 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push local 0
push constant 10
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 9
pop local 0
label IF_FALSE1
push local 0
push constant 17
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 18
pop local 0
label IF_FALSE2
push local 0
push constant 28
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 27
pop local 0
label IF_FALSE3
push local 0
push constant 35
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Animation.GetRandomValue 0
push static 0
return
function Animation.ChangeSeed 0
push static 1
push constant 5
add
pop static 1
push constant 0
return
function Animation.InitializeRandomAndSeed 0
push constant 100
call Random.new 1
pop static 2
push constant 3
pop static 0
push constant 200
pop static 1
push constant 0
return
function Animation.death 0
call Screen.clearScreen 0
pop temp 0
push constant 15
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 17
call String.new 1
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 40
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
call Main.main 0
pop temp 0
push constant 0
return
