function Animation.Animate 6
push constant 0
pop local 4
push constant 7
pop local 0
push constant 18
pop local 2
push constant 0
pop local 1
push constant 0
pop local 5
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 1
pop local 3
label WHILE_EXP1
push local 1
push local 3
push local 0
add
lt
not
if-goto WHILE_END1
push constant 10
push local 2
call Output.moveCursor 2
pop temp 0
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
call Output.printInt 1
pop temp 0
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
push local 5
push constant 1
add
push constant 36
call Animation.Remainder 2
pop local 5
push local 2
push constant 4
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push constant 1000
call Sys.wait 1
pop temp 0
push local 4
push constant 1
add
push constant 36
call Animation.Remainder 2
pop local 4
push local 4
pop local 5
push constant 18
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Animation.Remainder 0
push argument 0
push argument 1
push argument 0
push argument 1
call Math.divide 2
call Math.multiply 2
sub
return
