function Bet.GetBet 0
push static 0
return
function Bet.RefreshBet 0
push constant 5
push constant 5
call Output.moveCursor 2
pop temp 0
push constant 5
call String.new 1
push constant 66
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Bet.GetBet 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Bet.RaiseBet 0
push static 0
push argument 0
add
call Main.GetCoins 0
gt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
push argument 0
add
pop static 0
call Bet.RefreshBet 0
pop temp 0
label IF_FALSE0
push constant 0
return
function Bet.LowerBet 0
push static 0
push argument 0
sub
call Main.GetCoins 0
lt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
push argument 0
sub
pop static 0
call Bet.RefreshBet 0
pop temp 0
label IF_FALSE0
push constant 0
return
