function Hand.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 6
call Array.new 1
pop this 0
push argument 0
pop this 4
push pointer 0
return
function Hand.addCard 0
push argument 0
pop pointer 0
push this 2
push this 0
add
push argument 1
call Card.getColour 1
push constant 10
call Math.multiply 2
push argument 1
call Card.getPoints 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 2
push constant 1
add
pop this 2
push this 3
push argument 1
call Card.getNominalo 1
add
pop this 3
push argument 1
call Card.dispose 1
pop temp 0
push constant 0
return
function Hand.showCards 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 10
call Math.divide 2
push constant 10
call Math.multiply 2
sub
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 10
call Math.divide 2
call Card.new 2
pop local 1
push local 1
call Card.openCard 1
pop temp 0
push local 0
push constant 0
gt
push this 4
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
call Card.closeCard 1
pop temp 0
label IF_FALSE0
push local 1
push argument 1
push local 0
push constant 34
call Math.multiply 2
add
push argument 2
call Card.undrawCard 3
pop temp 0
push local 1
push argument 1
push local 0
push constant 34
call Math.multiply 2
add
push argument 2
call Card.drawCard 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
call Card.dispose 1
pop temp 0
push constant 0
return
function Hand.getNominals 0
push argument 0
pop pointer 0
push this 3
return
function Hand.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
