function Main.main 0
call StartScreen.chooseDifficulty 0
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push static 1
push constant 3
add
pop static 1
push static 1
push constant 1000
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 110
pop static 1
label IF_FALSE0
push static 0
call StartScreen.initializeMenu 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Main.getCoins 0
push static 0
return
function Main.setCoins 0
push argument 0
pop static 0
push constant 0
return
function Main.updateCoins 0
push constant 2
push constant 55
call Output.moveCursor 2
pop temp 0
push static 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Main.getSeed 0
push static 1
return
